<mat-sidenav-container class="sidenav-container">

    <!-- Product Details Sidenav -->
    <mat-sidenav class="sidenav" mode="over" position="start" [opened]="!!productService.currentProduct" #productSidenav>

        <h1>Product Details</h1>

    </mat-sidenav>

    <mat-sidenav-content>

        <!-- Main Toolbar -->
        <mat-toolbar color="primary">

            <mat-toolbar-row>

                <!-- Website Title -->
                <span class="mx-3 cursor-pointer">Kwik-E-Mart</span>

                <span class="flex-fill"></span>

                <!-- Logged-In User + Logout Button -->
                <ng-container *ngIf="authService.getLoggedInUser() as user">
                    <span>Hello, {{user.name.first}}!</span>
                    <a class="ml-3 mr-1" routerLink="/" (click)="logOut()">Log Out</a>
                </ng-container>

            </mat-toolbar-row>

        </mat-toolbar>

        <router-outlet></router-outlet>

        <button mat-fab color="primary" (click)="productService.setCurrentProduct(null)">
            <mat-icon>add</mat-icon>
        </button>

    </mat-sidenav-content>

</mat-sidenav-container>