<mat-sidenav-container>

    <mat-sidenav class="sidenav" mode="over" position="start" [opened]="productService.currentProduct" #sidenav>

        <form #f="ngForm" (ngSubmit)="saveProduct(f); sidenav.close()">
            <input type="hidden" name="_id" [ngModel]="productService.currentProduct?._id">
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Name" name="name" [ngModel]="productService.currentProduct?.name" required>
            </div>
            <div class="form-group">
                <input class="form-control" type="number" min="0" placeholder="Price" name="price" [ngModel]="productService.currentProduct?.price" required>
            </div>
            <div class="form-group">
                <input type="hidden" name="imageUrl" ngModel="http://placeimg.com/640/480">
                <input class="form-control" type="file" placeholder="Image" name="image" required>
            </div>
            <div class="form-group">
                <input type="hidden" name="oldCategoryId" [ngModel]="productService.currentProduct?.categoryId">
                <label for="category">Category:
                    <select class="form-control" placeholder="Category" name="categoryId" [ngModel]="productService.currentProduct?.categoryId" required>
                        <option *ngFor="let category of allCategories$ | async" [value]="category._id">
                            {{category.name}}
                        </option>
                    </select>
                </label>
            </div>
            <div class="form-group">
                <button class="btn btn-primary mt-3">Save</button>
            </div>
        </form>

    </mat-sidenav>

    <router-outlet></router-outlet>

    <button mat-fab color="primary" (click)="sidenav.open()">
        <mat-icon>add</mat-icon>
    </button>

</mat-sidenav-container>