<div class="container">
    <div class="row">
        <div class="card col-10 mx-auto mt-5">
            <div class="card-body">
                <form action="/api/user" method="post" #f="ngForm" (ngSubmit)="submit(f)">
                    <h1 class="card-title mb-4 mt-1 text-center">Sign Up</h1>
                    <mat-horizontal-stepper linear #stepper>
                        <mat-step label="Step 1">
                            <div class="form-group">
                                <input class="form-control p-3" type="text" name="id" id="id" autocomplete="off" placeholder="ID (ת.ז.)" required ngModel>
                            </div>
                            <div class="form-group">
                                <input class="form-control p-3" type="email" name="email" id="email" autocomplete="email" placeholder="E-Mail" required ngModel>
                            </div>
                            <div class="form-group">
                                <input class="form-control p-3" type="password" name="password" id="password" autocomplete="new-password" placeholder="Password"
                                    required ngModel>
                            </div>
                            <div class="form-group">
                                <input class="form-control p-3" type="password" id="passwordRepeat" autocomplete="new-password" placeholder="Repeat Password"
                                    required ngModel>
                            </div>
                            <div>
                                <button type="button" mat-button matStepperNext>Next</button>
                            </div>
                        </mat-step>
                        <mat-step label="Step 2">
                            <div class="form-group">
                                <select class="custom-select" name="city" id="city" placeholder="City" required ngModel>
                                    <option value="jerusalem">Jerusalem</option>
                                    <option value="tel-aviv">Tel Aviv</option>
                                    <option value="haifa">Haifa</option>
                                    <option value="rishon-lezion">Rishon LeZion</option>
                                    <option value="petah-tikva">Petah Tikva</option>
                                    <option value="ashdod">Ashdod</option>
                                    <option value="netanya">Netanya</option>
                                    <option value="beer-sheva">Beer Sheva</option>
                                    <option value="bnei-brak">Bnei Brak</option>
                                    <option value="holon">Holon</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input class="form-control p-3" type="text" name="street" id="street" autocomplete="street-address" placeholder="Street Address"
                                    required ngModel>
                            </div>
                            <div class="form-group">
                                <input class="form-control p-3" type="text" name="first-name" id="firstName" autocomplete="given-name" placeholder="First Name"
                                    required ngModel>
                            </div>
                            <div class="form-group">
                                <input class="form-control p-3" type="text" name="last-name" id="lastName" autocomplete="family-name" placeholder="Last Name"
                                    required ngModel>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary btn-block text-uppercase" type="submit">Sign Up</button>
                            </div>
                            <div>
                                <button type="button" mat-button matStepperPrevious>Back</button>
                                <button type="button" mat-button (click)="stepper.reset()">Reset</button>
                            </div>
                        </mat-step>
                    </mat-horizontal-stepper>
                    <div class="col-sm-12">
                        <a routerLink="/login">Already have an account? Log in!</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>