<mat-sidenav-container class="sidenav-container">

    <!-- Categories Menu -->
    <mat-menu #categories>
        <mat-toolbar>Categories</mat-toolbar>
        <mat-nav-list>
            <a mat-list-item *ngFor="let category of toolbarService.allCategories$ | async" routerLink="/category/{{category._id}}">{{category.name}}</a>
        </mat-nav-list>
    </mat-menu>

    <!-- Shopping Cart Sidenav -->
    <mat-sidenav class="sidenav" mode="over" position="end" fixedInViewport #cart>
        <mat-toolbar class="justify-content-center">Your Cart</mat-toolbar>
        <form class="container-fluid" (ngSubmit)="cart.toggle(); goToCheckOutAsync()">
            <div class="row row-cols-1 p-2">
                <div class="alert alert-secondary text-center" *ngIf="cartService.isEmpty()">The cart is empty.</div>
                <ng-container *ngIf="!cartService.isEmpty()">
                    <hr class="bg-dark">
                    <div class="card my-2" *ngFor="let item of cartService.getAllItems(); trackBy: productIdOfCartItem">
                        <img class="card-img-top" [src]="item.product.imageUrl" [alt]="item.product.name">
                        <div class="card-body">
                            <h5 class="card-title text-center">{{item.product.name}}</h5>
                            <h6 class="card-subtitle text-center">{{item.product.price | currency}}</h6>
                            <input class="form-control mt-3" type="number" min="1" [name]="item.product._id" [value]="item.quantity"
                                (input)="cartService.setItem(item.product, +$event.target.value)">
                        </div>
                        <div class="card-footer d-flex justify-content-center">
                            <button mat-icon-button (click)="cartService.setItem(item.product, 0)">
                                <mat-icon>remove_shopping_cart</mat-icon>
                            </button>
                        </div>
                    </div>
                    <hr class="bg-dark">
                    <h5 class="text-center">Cart Total: {{cartService.getTotalPrice() | currency}}</h5>
                </ng-container>
                <button class="btn btn-primary w-100 mt-3" type="submit" [disabled]="cartService.isEmpty()">
                    Check Out
                </button>
                <button class="btn btn-danger w-100 mt-3" type="reset" [disabled]="cartService.isEmpty()" (click)="cartService.empty()">
                    <mat-icon>remove_shopping_cart</mat-icon>
                </button>
            </div>
        </form>
    </mat-sidenav>

    <mat-sidenav-content>

        <!-- Main Toolbar -->
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <!-- Main Menu Button -->
                <button type="button" mat-icon-button>
                    <mat-icon>menu</mat-icon>
                </button>
                <!-- Website Title -->
                <span class="mx-3 cursor-pointer" (click)="goToHomePageAsync()">{{title}}</span>
                <span class="flex-fill"></span>
                <!-- Category Menu Button -->
                <button *ngIf="shoppingPageIsActive()" [matMenuTriggerFor]="categories">{{toolbarService.categoryName$ | async}}</button>
                <span class="flex-fill"></span>
                <!-- Logged-In User + Logout Button + Shopping Cart Button -->
                <ng-container *ngIf="!!authService.getLoggedInUser()">
                    <span>Hello, {{authService.getLoggedInUser().name.first}}!</span>
                    <a class="ml-3 mr-1" routerLink="/login" (click)="logOut()">Log Out</a>
                    <!-- Shopping Cart Button -->
                    <button type="button" mat-icon-button [matBadge]="cartService.getTotalQuantity()" [matBadgeHidden]="cartService.isEmpty()"
                        matBadgeColor="warn" (click)="cart.toggle()">
                        <mat-icon>shopping_cart</mat-icon>
                    </button>
                </ng-container>
            </mat-toolbar-row>
        </mat-toolbar>

        <router-outlet (activate)="onActivate($event)"></router-outlet>

    </mat-sidenav-content>

</mat-sidenav-container>