<mat-sidenav-container class="sidenav-container">

    <!-- Categories Sidenav -->
    <mat-sidenav #categories position="start" class="sidenav" fixedInViewport mode="over">
        <mat-toolbar>Categories</mat-toolbar>
        <mat-nav-list>
            <a mat-list-item *ngFor="let category of allCategories$ | async" routerLink="/category/{{category._id}}">{{category.name}}</a>
        </mat-nav-list>
    </mat-sidenav>

    <!-- Shopping Cart Sidenav -->
    <mat-sidenav #cart position="end" class="sidenav" fixedInViewport mode="over">
        <mat-toolbar>Your Cart</mat-toolbar>
        <form #f="ngForm" (ngSubmit)="checkOutAsync(f)">
            <div class="row row-cols-1 no-gutters">
                <div class="p-2" *ngFor="let item of getAllCartItems(); trackBy: productIdOfCartItem">
                    <div class="card">
                        <img class="card-img-top" [src]="item.product.imageUrl" [alt]="item.product.name">
                        <div class="card-body">
                            <h5 class="card-title text-center">{{item.product.name}}</h5>
                            <h6 class="card-subtitle text-center">&euro;{{item.product.price}}</h6>
                            <input class="form-control mt-3" type="number" [name]="item.product._id" [value]="item.quantity"
                                (input)="setCartItem(item.product, +$event.target.value)">
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Check Out</button>
        </form>
    </mat-sidenav>

    <mat-sidenav-content>

        <!-- Main Toolbar -->
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <button type="button" mat-icon-button (click)="categories.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
                <span class="cursor-pointer" (click)="goToHomePage()">{{title}}</span>
                <span class="flex-fill"></span>
                <!-- <span>{{categoryName$ | async}}</span> -->
                <span class="flex-fill"></span>
                <ng-container *ngIf="authService.userIsLoggedIn()">
                    <span>Hello, {{authService.getLoggedInUser().name.first}}!</span>
                    <a class="ml-3 mr-1" routerLink="/login" (click)="logOut()">Log Out</a>
                </ng-container>
                <button type="button" mat-icon-button [matBadge]="getNumberOfCartItems()" [matBadgeHidden]="cartIsEmpty()" matBadgeColor="warn"
                    (click)="cart.toggle()">
                    <mat-icon>shopping_cart</mat-icon>
                </button>
            </mat-toolbar-row>
        </mat-toolbar>

        <router-outlet></router-outlet>

    </mat-sidenav-content>

</mat-sidenav-container>