<div class="container">
    <mat-card>
        <form action="/api/user" method="post" #f="ngForm" (ngSubmit)="submit(f)">
            <mat-card-header>
                <mat-card-title>Welcome to Kwik-E-Mart!</mat-card-title>
                <mat-card-subtitle>Fill up your personal info below.</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <mat-horizontal-stepper linear #stepper>
                    <mat-step label="Step 1">
                        <div class="field-group">
                            <mat-form-field appearance="fill">
                                <mat-label>ID (ת.ז.)</mat-label>
                                <input matInput type="text" name="_id" id="id" autocomplete="off" required ngModel>
                            </mat-form-field>
                            <mat-form-field appearance="fill">
                                <mat-label>E-Mail</mat-label>
                                <input matInput type="email" name="email" id="email" autocomplete="email" required ngModel>
                            </mat-form-field>
                            <mat-form-field appearance="fill">
                                <mat-label>Password</mat-label>
                                <input matInput type="password" name="password" id="password" autocomplete="new-password" required ngModel>
                            </mat-form-field>
                            <mat-form-field appearance="fill">
                                <mat-label>Repeat Password</mat-label>
                                <input matInput type="password" name="passwordRepeat" id="passwordRepeat" autocomplete="off" required ngModel>
                            </mat-form-field>
                            <div>
                                <button type="button" mat-button matStepperNext>Next</button>
                            </div>
                        </div>
                    </mat-step>
                    <mat-step label="Step 2">
                        <div class="field-group">
                            <mat-form-field appearance="fill">
                                <mat-label>City</mat-label>
                                <mat-select name="city" required ngModel>
                                    <mat-option value="Jerusalem">Jerusalem</mat-option>
                                    <mat-option value="Tel Aviv">Tel Aviv</mat-option>
                                    <mat-option value="Haifa">Haifa</mat-option>
                                    <mat-option value="Rishon LeZion">Rishon LeZion</mat-option>
                                    <mat-option value="Petah Tikva">Petah Tikva</mat-option>
                                    <mat-option value="Ashdod">Ashdod</mat-option>
                                    <mat-option value="Netanya">Netanya</mat-option>
                                    <mat-option value="Beer Sheva">Beer Sheva</mat-option>
                                    <mat-option value="Bnei Brak">Bnei Brak</mat-option>
                                    <mat-option value="Holon">Holon</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field appearance="fill">
                                <mat-label>Street Address</mat-label>
                                <input matInput type="text" name="streetAddress" id="streetAddress" autocomplete="street-address" required ngModel>
                            </mat-form-field>
                            <mat-form-field appearance="fill">
                                <mat-label>First Name</mat-label>
                                <input matInput type="text" name="firstName" id="firstName" autocomplete="given-name" required ngModel>
                            </mat-form-field>
                            <mat-form-field appearance="fill">
                                <mat-label>Last Name</mat-label>
                                <input matInput type="text" name="lastName" id="lastName" autocomplete="family-name" required ngModel>
                            </mat-form-field>
                            <div class="form-group">
                                <button class="btn btn-primary btn-block text-uppercase" type="submit">Sign Up</button>
                            </div>
                            <div>
                                <button type="button" mat-button matStepperPrevious>Back</button>
                                <button type="button" mat-button (click)="stepper.reset()">Reset</button>
                            </div>
                        </div>
                    </mat-step>
                </mat-horizontal-stepper>
            </mat-card-content>
            <div class="col-sm-12">
                <a routerLink="../signin">Already have an account? Log in!</a>
            </div>
        </form>
    </mat-card>
</div>