<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Categories</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item *ngFor="let category of allCategories$ | async" routerLink="/category/{{category._id}}">{{category.name}}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Shop</span>
      <span class="spacer"></span>
      <a mat-button routerLink="/login" (click)="logOut()">Log Out</a>
    </mat-toolbar>
    <div class="container">
      <div class="row">
        <div class="card col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2" *ngFor="let product of allProductsInCategory$ | async">
          <img class="card-img-top" src="{{product.imageUrl}}" alt="{{product.name}}">
          <div class="card-body">
            <h5 class="card-title">{{product.name}}</h5>
            <h6 class="card-subtitle">{{product.price}}</h6>
          </div>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
