<form encType="multipart/form-data" #f="ngForm" (ngSubmit)="saveProduct(f, i); submit.emit('submitted')">
    <div>
        <div>
            <img *ngIf="!!productService.currentProduct" [src]="productService.currentProduct.imageUrl" [alt]="productService.currentProduct.name">
            <div>
                <input type="hidden" name="_id" [ngModel]="productService.currentProduct?._id">
                <div>
                    <label for="name">
                        Name:
                        <input type="text" id="name" placeholder="Name" name="name" [ngModel]="productService.currentProduct?.name" required>
                    </label>
                </div>
                <div>
                    <label for="price">
                        Price:
                        <input type="number" min="0" id="price" placeholder="Price" name="price" [ngModel]="productService.currentProduct?.price" required>
                    </label>
                </div>
                <div>
                    <label for="image">
                        Image File:
                        <input type="file" id="image" placeholder="Image" name="image" ngModel required #i>
                    </label>
                </div>
                <div>
                    <input type="hidden" name="oldCategoryId" [ngModel]="productService.currentProduct?.categoryId">
                    <label for="category">
                        Category:
                        <select id="category" placeholder="Category" name="categoryId" [ngModel]="productService.currentProduct?.categoryId" required>
                            <option *ngFor="let category of allCategories$ | async" [value]="category._id">
                                {{category.name}}
                            </option>
                        </select>
                    </label>
                </div>
            </div>
        </div>
        <button>Save</button>
    </div>
</form>