<div class="container-fluid">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-6">
        <div class="px-0" *ngFor="let product of allProductsInCategory$ | async; trackBy: productIdOfProduct">
            <div class="card m-2">
                <img class="card-img-top" [src]="product.imageUrl" [alt]="product.name">
                <div class="card-body">
                    <h5 class="card-title">{{product.name}}</h5>
                    <h6 class="card-subtitle">{{product.price | currency}}</h6>
                </div>
            </div>
        </div>
    </div>
</div>
