<mat-sidenav-container>

    <!-- Shopping Cart Sidenav -->
    <mat-sidenav mode="push" position="start" fixedInViewport #sidenav>

        <form (ngSubmit)="sidenav.close(); goToCheckOutAsync()">
            <h2 *ngIf="cartService.isEmpty()">The cart is empty.</h2>
            <ng-container *ngIf="!cartService.isEmpty()">
                <mat-divider></mat-divider>
                <mat-card *ngFor="let item of cartService.getAllItems()">
                    <mat-card-header>
                        <mat-card-title>{{item.product.name}}</mat-card-title>
                        <mat-card-subtitle>{{item.product.price | currency}}</mat-card-subtitle>
                        <img mat-card-avatar [src]="item.product.imageUrl" [alt]="item.product.name">
                    </mat-card-header>
                    <mat-card-content>
                        <mat-form-field appearance="outline">
                            <mat-label>Quantity</mat-label>
                            <button mat-icon-button matPrefix (click)="item.quantity > 1 && cartService.setItem(item.product, item.quantity - 1)">
                                <mat-icon>remove_circle</mat-icon>
                            </button>
                            <input matInput type="number" [name]="item.product._id" [value]="item.quantity" min="1" readonly>
                            <button mat-icon-button matSuffix (click)="cartService.setItem(item.product, item.quantity + 1)">
                                <mat-icon>add_circle</mat-icon>
                            </button>
                        </mat-form-field>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-icon-button color="warn" (click)="cartService.setItem(item.product, 0)">
                            <mat-icon>remove_shopping_cart</mat-icon>
                        </button>
                    </mat-card-actions>
                </mat-card>
                <mat-divider></mat-divider>
                <h2>Cart Total: {{cartService.getTotalPrice() | currency}}</h2>
            </ng-container>
            <div>
                <button type="submit" [disabled]="cartService.isEmpty()">
                    Check Out
                </button>
                <button type="reset" [disabled]="cartService.isEmpty()" (click)="emptyCart()">
                    <mat-icon>remove_shopping_cart</mat-icon>
                </button>
            </div>
        </form>

    </mat-sidenav>

    <mat-sidenav-content>

        <!-- Main Toolbar -->
        <mat-toolbar color="primary">

            <mat-toolbar-row>

                <!-- Website Title -->
                <span class="cursor-pointer">Kwik-E-Mart</span>

                <span class="flex-fill"></span>

                <!-- Shopping Cart Button -->
                <button type="button" mat-icon-button [matBadge]="cartService.getTotalQuantity()" [matBadgeHidden]="cartService.isEmpty()" matBadgeColor="warn"
                    (click)="sidenav.toggle()">
                    <mat-icon>shopping_cart</mat-icon>
                </button>

                <!-- Logged-In User + Logout Button -->
                <ng-container *ngIf="authService.getLoggedInUser() as user">
                    <button mat-button [matMenuTriggerFor]="userMenu">Hello, {{user.name.first}}!</button>
                    <mat-menu #userMenu="matMenu">
                        <button mat-menu-item (click)="logOut()">
                            <mat-icon>logout</mat-icon>Log Out
                        </button>
                    </mat-menu>
                </ng-container>

            </mat-toolbar-row>

        </mat-toolbar>

        <router-outlet (activate)="onActivate($event)"></router-outlet>

    </mat-sidenav-content>

</mat-sidenav-container>